
  <nav class="light-green lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><a href="#" class="brand-logo center"><img src="/assets/images/recyclelogo.jpg" width="60" height="60"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"></a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icon">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center light-green-text go-green groove double">Be Green</h1>
      <div class="row center">
        <h5 class="header col s12 light p2">Change your habits. Change the world.</h5>
      </div>
      <div class="row center">
       <!---- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light get-started">Get Started</a>
      </div>-->
      <br><br>

    </div>
  </div>


  <div class="container categories">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons" style="color:green">sync</i></h2>
            <h5 class="infotitle center go-green">How To Recycle</h5>

            <p class="light infocolumn p2">Recycling can be confusing. Can you recycle this or that? Where does it go? But there's no need to stress anymore. Get your answers here.</p>
          </div>
        
            <ul id="navigation">
               
                <li><a href="#">Materials &raquo;</a>
                    <ul>
                        <li><a href="#">Aluminum</a></li>
                        <li><a href="#">Plastic</a></li>
                        <li><a href="#">Other &raquo;</a>
                            <ul>
                                <li><a href="#">Other 1</a></li>
                                <li><a href="#">Other 2</a></li>
                                <li><a href="#">Other 3</a></li>
                                <li><a href="#">Other 4</a></li>
                            </ul>
                        </li>
                
                    </ul>
                </li>
           
                </li>
                
       
            
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons" style="color:green">map</i></h2>
            <h5 class="center infotitle go-green">Find Recyle Locations Near You</h5>

            <p class="light infocolumn p2">Does your community not have a recycle center? No problem. Search for one here and do your part.</p>
          </div>
          <ul id="navigation">
               
            <li><a href="/maps">Search &raquo;</a>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons" style="color:green">chat_bubble_outline</i></h2>
            <h5 class="center infotitle go-green">Message Board</h5>

            <p class="light infocolumn p2">Be inspired. Share your story.</p>
          </div>
        </div>
        <ul id="navigation">
               
          <li><a href="#">Chat It Up &raquo;</a>
      </div>

    </div>
    <br><br>
  </div>

  
    
    
  <div class="row"><div class="col s12 m4"><h2 class="gallerytitle go-green">Recycle Projects</h2>
    
    <div class="container gallery" style="height:10%">
      <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img src="/assets/images/owlartcraft.jpg" style="width:60%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img src="/assets/images/bottleholder.jpg" style="width:60%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img src="" style="width:100%">
      </div>
        
      <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img src="" style="width:100%">
      </div>
    
      <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img src="" style="width:100%">
      </div>
        
      <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img src="" style="width:100%">
      </div>
        
      <a class="prev" onclick="plusSlides(-1)">❮</a>
      <a class="next" onclick="plusSlides(1)">❯</a>
    
      <div class="caption-container">
        <p id="caption"></p>
      </div>
    
      <div class="row">
        <div class="column">
          <img class="demo cursor" src="/assets/images/owlartcraft.jpg" style="width:100%" onclick="currentSlide(1)" alt="Owl Decoration Project">
        </div>
        <div class="column">
          <img class="demo cursor" src="/assets/images/bottleholder.jpg" style="width:100%" onclick="currentSlide(2)" alt="Pen Holder Project">
        </div>
        <div class="column">
          <img class="demo cursor" src="" style="width:100%" onclick="currentSlide(3)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="" style="width:100%" onclick="currentSlide(4)" alt="">
        </div>
        <div class="column">
          <img class="demo cursor" src="" style="width:100%" onclick="currentSlide(5)" alt="">
        </div>    
        <div class="column">
          <img class="demo cursor" src="" style="width:100%" onclick="currentSlide(6)" alt="">
        </div>
      </div>
    </div></div>
    
    <script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
    </script>


<div class="row"><div class="col s12 m4"><h2 class="learnmore go-green">Learn More</h2>
  <br>
<iframe class="yt" width="560" height="315" src="https://www.youtube.com/embed/OasbYWF4_S8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div></div>
        

  <footer class="page-footer light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">A group of conscious individuals looking to make it easier for each and every person do their part for a greener planet. Helping our planet can be difficult after all, but it's necessary to keep our home safe and healthy. So we're here to help.</p>


        </div>
     
        <div class="col l3 s12">
          <h5 class="white-text">Connect with Us</h5>
          <ul>
            <li><a class="white-text" href="#!">Email</a></li>
            <li><a class="white-text" href="#!">Linkden</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Created by <a class="orange-text text-lighten-3" href="">Be-Green</a>
      </div>
    </div>
  </footer>
