
.categories {
  margin: -6% auto auto auto;
}


 .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

h1.groove {
  border-style: groove;
}

h1.double {
  border-style: double;
}

.p2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  font-size: 10x;
}

.infobtn {
  margin-right:25%;
}

.go-green {
  width: 300px;
  border: 2px solid green;
  padding: 10px;
  margin: auto;
  background: rgba(134, 198, 228, 0.397);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infocolumn {
  width: 300px;
  border: 2px solid rgba(12, 12, 12, 0.205);
  padding: 0px 5px 0px 5px;
  background: rgba(134, 198, 228, 0.925);
}

.infotitle {
  width: 210px;
  border: 2px solid rgba(3, 3, 3, 0.39);
  padding: 0px 5px 0px 5px;
  background: rgba(134, 198, 228, 0.829);
  margin: auto;
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gallerytitle {
  width: 230px;
  border: 2px solid rgba(3, 3, 3, 0.39);
  padding: 0px 12px 0px 12px;
  background: rgba(134, 198, 228, 0.685);
  margin: 0% 0% 0% 67%;
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.learnmore {
  width: 162px;
  border: 2px solid rgba(3, 3, 3, 0.39);
  padding: 0px 8px 0px 8px;
  background: rgba(134, 198, 228, 0.685);
  margin: 0% 0% 0% 80%;
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon {
  background-color: rgba(255, 255, 255, 0.801);
}

.gallery {
  margin: 0% 70%;
}

.yt {
  margin: 0% 40%;
}



    body {
      font-family: Arial;
      margin: 0;
    }
    
    * {
      box-sizing: border-box;
    }
    
    img {
      vertical-align: middle;
    }
    
    /* Position the image container (needed to position the left and right arrows) */
    .container {
      position: relative;
    }
    
    /* Hide the images by default */
    .mySlides {
      display: none;
    }
    
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
      cursor: pointer;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 40%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none;
      -webkit-user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 40%;
      border-radius: 3px 0 0 3px;
      width: 0%;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    /* Number text (1/3 etc) 65
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* Container for image text */
    .caption-container {
      text-align: center;
      background-color: #222;
      padding: 2px 16px;
      color: white;
      width: 60%;
    }
    
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Six columns side by side */
    .column {
      float: left;
      width: 5.66%;
    }
    
    /* Add a transparency effect for thumnbail images */
    .demo {
      opacity: 0.6;
    }
    
    .active,
    .demo:hover {
      opacity: 1;
    }
   



/* Main Navigation */
#nav {
  position:relative;
  width:620px;
  margin:0 auto;
  margin-top:50px;
  padding:10px;
}

ul#navigation {
  margin:0px auto;
  position:relative;
  float:left;
  border-left:1px solid #c4dbe7;
  border-right:1px solid #c4dbe7;
}

ul#navigation li {
  display:inline;
  font-size:12px;
  font-weight:bold;
  margin:0;
  padding:0;
  float:left;
  position:relative;
  border-top:1px solid #c4dbe7;
  border-bottom:2px solid #c4dbe7;
}

ul#navigation li a {
  padding:10px 25px;
  color:#616161;
  text-shadow:1px 1px 0px #fff;
  text-decoration:none;
  display:inline-block;
  border-right:1px solid #fff;
  border-left:1px solid #C2C2C2;
  border-top:1px solid #fff;
  background: #f5f5f5;

  -webkit-transition:color 0.2s linear, background 0.2s linear;
  -moz-transition:color 0.2s linear, background 0.2s linear;
  -o-transition:color 0.2s linear, background 0.2s linear;
  transition:color 0.2s linear, background 0.2s linear;
}

ul#navigation li a:hover {
  background:#f8f8f8;
  color:#282828;
}

ul#navigation li a.first {
  border-left: 0 none;
}

ul#navigation li a.last {
  border-right: 0 none;
}

ul#navigation li:hover > a {
  background:#fff;
}

/* Drop-Down Navigation */
ul#navigation li:hover > ul
{
/*these 2 styles are very important,
being the ones which make the drop-down to appear on hover */
    visibility:visible;
    opacity:1;
}
 
ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
/*the next 2 styles are very important,
being the ones which make the drop-down to stay hidden */
    visibility:hidden;
    opacity:0;
    position: absolute;
    z-index: 99999;
    width:180px;
    background:#f8f8f8;
    box-shadow:1px 1px 3px #ccc;
/* css3 transitions for smooth hover effect */
    -webkit-transition:opacity 0.2s linear, visibility 0.2s linear;
    -moz-transition:opacity 0.2s linear, visibility 0.2s linear;
    -o-transition:opacity 0.2s linear, visibility 0.2s linear;
    transition:opacity 0.2s linear, visibility 0.2s linear;
}
 
ul#navigation ul {
    top: 43px;
    left: 1px;
}
 
ul#navigation ul li ul {
    top: 0;
    left: 181px; /* strong related to width:180px; from above */
}
 
ul#navigation ul li {
    clear:both;
    width:100%;
    border:0 none;
    border-bottom:1px solid #c9c9c9;
}
 
ul#navigation ul li a {
    background:none;
    padding:7px 15px;
    color:#616161;
    text-shadow:1px 1px 0px #fff;
    text-decoration:none;
    display:inline-block;
    border:0 none;
    float:left;
    clear:both;
    width:150px;
}